.cards {
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
    

    .links {
        text-decoration: none;
        color: #020202;
    }
}


.preview{
    border-radius: 25px 25px 0 0 ;
    
}
.preview-image
{
 height: 210px;
 width: 100%;
 border-radius: 25px 25px 0 0;
 object-fit: cover;
 background-position: center;

}
