@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/*@import "./utils/extensions";*/
body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  margin-top: 25px;
  margin-bottom: 10px;
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

.heading-sections {
  padding-top: 60px;
  padding-bottom: 14px;
}

h1.heading-sections {
  margin-left: 20px;
  margin-right: 20px;
}

.search-restaurants P {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 15px;
}

.cards h3,
.cards p {
  text-align: left;
  margin: 5px 5px 5px 20px;
}

.cards h3 {
  font-weight: bold;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 30px;
  margin-top: 20px;
}

/* loader CHARGEMENT pb de z index
@keyframes loading {
  0% {visibility: visible;}
  100% {visibility: hidden;}
}
@keyframes flash {
  0% {
    color:#99E2D0;
    text-shadow: 0 0 8px  $colour-primary;
  }
  90% {
    color:#99E2D0;
    text-shadow:none;
  }
  100%{
    color:#99E2D0;
    text-shadow: 0 0 8px  $colour-primary;
  }
}



.loader {

  width: 100vw;
  height: 100vh;
  position: fixed;

  top: 0;
  left: 0;
  margin: 0;  

}
.loader--content
{
  width: 100vw;
  height: 100vh;
  visibility:hidden;
  position: fixed;
  //need to be fixed

  z-index: 0.5;
  animation:loading 4s;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letters{
  background:transparent;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.5s linear infinite;
}  
.letters:nth-child(1){
  animation-delay: 0.1s;
}
.letters:nth-child(2){
  animation-delay: 0.2s;
}
.letters:nth-child(3){
  animation-delay: 0.3s;
}
.letters:nth-child(4){
  animation-delay: 0.4s;
}
.letters:nth-child(5){
  animation-delay: 0.5s;
}
.letters:nth-child(6){
  animation-delay: 0.6s;
}
.letters:nth-child(7){
  animation-delay: 0.7s;
}
.letters:nth-child(8){
  animation-delay: 0.8s;
}
.letters:nth-child(9){
  animation-delay: 0.9s;
}
.letters:nth-child(10){
  animation-delay: 1s;
} 
*/
i.fa-arrow-left {
  position: absolute;
  left: 5px;
  padding: 20px;
  top: 10px;
  font-size: 22px;
  color: #000000;
  /* à eclaircir*/
}

.svg-logo {
  height: 45px;
  width: 100px;
  background: #fff;
  mask-image: url("../../../images/logo/ohmyfood@2x.svg");
  background-size: cover;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

span.circle {
  background: #9356DC;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  position: absolute;
  left: 0;
  margin-left: -10px;
}

.process .fas {
  display: inline-block;
  left: 30px;
  position: absolute;
  color: #a9a9a9;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.footer .fas {
  margin-right: 10px;
  width: 16px;
  font-size: small;
}

.fa-heart {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: opacity 0.3s;
  cursor: pointer;
}
.fa-heart.fa-heart__cards {
  right: 0;
  bottom: -5px;
}
.fa-heart.fa-heart__heading {
  right: 0;
  top: 20px;
  font-size: larger;
}

.far.fa-heart {
  color: black;
}

.fas.fa-heart {
  opacity: 0;
}

#check-heart:checked ~ label .far {
  opacity: 0;
}

#check-heart:checked ~ label .fas {
  opacity: 1;
  color: #ff006a;
}

#check-heart {
  display: none;
}

.fa-check {
  color: #99E2D0;
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  padding: 4px;
  line-height: 1.5;
  font-size: 17px;
  margin-right: 5px;
}

.cards {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  transform: scale(1);
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  /* .selector {
  (X1,Y1)(X2,Y2)
  transition-timing-function: cubic-bezier(.42, 0, .58, 1); //=transition-timing-function:ease-in-out;//
  }
  */
}
.cards:hover {
  transform: scale(1.05);
}
.cards .links {
  text-decoration: none;
  color: #020202;
}

.preview {
  border-radius: 25px 25px 0 0;
}

.preview-image {
  height: 210px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  background-position: center;
}

.btn {
  background: linear-gradient(171deg, #FF79DA 10%, #9356DC 90%);
  box-shadow: 0px 3px 6px 3px #d3d3d3;
  border-radius: 50px;
  border-style: none;
  padding: 4%;
  font-size: 1em;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  cursor: pointer;
  width: 40%;
  position: relative;
  z-index: 1;
}
.btn:hover {
  border-radius: 50px;
}
.btn:hover::after {
  border-radius: 50px;
  box-shadow: 0px 3px 5px 3px #d3d3d3;
  opacity: 1;
}
.btn::after {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(171deg, #ff93e1 0%, #ff46cc 100%);
  /*linear ne fonctionne pas bien radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-secondary, 10) 100%);*/
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}
.btn__explore {
  min-width: 240px;
}
.btn__order {
  min-width: 190px;
  margin-top: 46px;
  margin-bottom: 98px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.localisation {
  background-color: #e5e5e5;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  /*background-image: repeating-linear-gradient(45deg,$colour-background,$colour-background 5px,black 5px,black 25px);
  color: #fff;*/
  border-top: 1px solid #d9d9d9;
  box-shadow: inset 0 -4px 8px 8px #e5e5e5, inset 0 1px 2px 0px rgba(50, 50, 50, 0.75);
  /* box-shadow:inset 0 1px 2px 2px darken($color: $colour-background, $amount: 15%); */
}

.heading-menu {
  flex-direction: row;
}

.banner {
  background-image: url("/images/restaurants/à_la_française.jpg");
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: -44px;
  background-size: cover;
  background-position: center;
}

.restaurants__list {
  width: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 768px;
  height: 100vh;
  position: relative;
}

.step-list {
  margin-left: 38px;
}

.step-list p {
  margin-left: 5px;
}

.search-restaurants,
.restaurants {
  background-color: #f2f2f2;
}

.restaurants {
  padding-bottom: 60px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.wrapp__process {
  width: 100%;
}

.restaurant-name {
  position: relative;
}

.process {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 15px 0 15px 0px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: relative;
  min-width: 234px;
  line-height: 20px;
}
.process:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.process:hover .fas {
  color: #9356DC;
}

#check-heart {
  display: none;
}

/*redondant avec .links .cards*/
.form {
  text-decoration: none;
  color: #f2f2f2;
}

#town {
  border: none;
  font-size: large;
  background: #e5e5e5;
  width: 34%;
}

.check {
  background: #99E2D0;
  color: #fff;
  width: 70px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  transition: 900ms;
  position: absolute;
  top: 0;
  right: -70px;
}

.price {
  font-weight: bold;
  width: 30px;
  padding: 19px;
  height: 100%;
  /* MARGIN: AUTO; */
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.cards_choices {
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: small;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.9s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 70px;
  position: relative;
}
.cards_choices__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards_choices p {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards_text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input.choices {
  display: none;
}

.cards_choices:hover > .check {
  right: 0;
}

input.choices:checked ~ label .cards_choices .check {
  right: 0;
}

input.choices:checked ~ label .price {
  transform: translateX(-70px);
}

input.choices:hover ~ label .price {
  transform: translateX(-70px);
  transition: transform 600ms ease-in-out;
}

input.choices:hover ~ label .fa-check {
  transform: rotate(-1turn);
  transition: transform 800ms ease-in-out;
}

input.choices:checked ~ label .fa-check {
  transform: rotate(1turn);
  transition: transform 500ms ease-in-out;
}

footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
footer ul {
  text-align: left;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer {
  line-height: 25px;
  padding-bottom: 30px;
  margin-top: 10px;
}

main.menu {
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

h3.heading-cards {
  margin-top: 35px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}

div.green-border {
  width: 11%;
  height: 4px;
  background: #99E2D0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cards_choices span {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards_choices div {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*# sourceMappingURL=styles.css.map */
