@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/*
@mixin linear-gradient()???
linear-gradient(171deg,$colour-secondary 10%,$colour-primary 90%);
*/
.menu-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-end;
  height: 30px;
  width: 96%;
  min-width: 255px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px;
  font-size: small;
  cursor: pointer;
  animation: step 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-cards__description--h3 {
  font-weight: bold;
  transition: 0.9s;
  position: absolute;
  top: 10px;
  margin-top: 5px;
}
.menu-cards__description--p {
  position: relative;
}

@keyframes step {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    visibility: visible;
    opacity: 1;
    transform: ease-out translateY(5px);
    /*
          ##       ## ######## ########  ########  ######## ##     ## ########        ###    ##     ##    ##     ##    ###    ##       #### ########     ###    ######## ######## ##     ## ########        ##       ##
         ##       ##  ##       ##     ## ##     ## ##       ##     ## ##     ##      ## ##   ##     ##    ##     ##   ## ##   ##        ##  ##     ##   ## ##      ##    ##       ##     ## ##     ##      ##       ##
        ##       ##   ##       ##     ## ##     ## ##       ##     ## ##     ##     ##   ##  ##     ##    ##     ##  ##   ##  ##        ##  ##     ##  ##   ##     ##    ##       ##     ## ##     ##     ##       ##
       ##       ##    ######   ########  ########  ######   ##     ## ########     ##     ## ##     ##    ##     ## ##     ## ##        ##  ##     ## ##     ##    ##    ######   ##     ## ########     ##       ##
      ##       ##     ##       ##   ##   ##   ##   ##       ##     ## ##   ##      ######### ##     ##     ##   ##  ######### ##        ##  ##     ## #########    ##    ##       ##     ## ##   ##     ##       ##
     ##       ##      ##       ##    ##  ##    ##  ##       ##     ## ##    ##     ##     ## ##     ##      ## ##   ##     ## ##        ##  ##     ## ##     ##    ##    ##       ##     ## ##    ##   ##       ##
    ##       ##       ######## ##     ## ##     ## ########  #######  ##     ##    ##     ##  #######        ###    ##     ## ######## #### ########  ##     ##    ##    ########  #######  ##     ## ##       ##
    */
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}
#choice1 + label {
  animation-delay: 0.3s;
}

#choice2 + label {
  animation-delay: 0.6s;
}

#choice3 + label {
  animation-delay: 0.9s;
}

#choice4 + label {
  animation-delay: 1.2s;
}

#choice5 + label {
  animation-delay: 1.5s;
}

#choice6 + label {
  animation-delay: 1.8s;
}

#choice7 + label {
  animation-delay: 2.1s;
}

#choice8 + label {
  animation-delay: 2.4s;
}

#choice9 + label {
  animation-delay: 2.7s;
}

#choice10 + label {
  animation-delay: 3s;
}

@keyframes groove {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
input:checked + label .check {
  margin-right: 70px;
}

label.menu-cards:hover .check {
  margin-right: 70px;
}

input.command {
  display: none;
}

input:checked + label .menu-cards__price {
  margin-right: 70px;
}

label.menu-cards:hover .menu-cards__price {
  margin-right: 70px;
}

input:hover + label .fa-check {
  transform: rotate(-1turn);
  transition: transform 0.7s ease-in-out;
}

input:checked + label .fa-check {
  transform: scale(0.5) translate(-100%, -100%);
  transition: transform 0.4s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  margin-top: 25px;
  margin-bottom: 10px;
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

.heading-sections {
  padding-top: 60px;
  padding-bottom: 14px;
}

h1.heading-sections {
  margin-left: 20px;
  margin-right: 20px;
}

.search-restaurants P {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 15px;
}

.cards h3,
.cards p {
  text-align: left;
  margin: 5px 5px 5px 20px;
}

.cards h3 {
  font-weight: bold;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .header__logo img {
    height: 60px;
  }

  h1, h2 {
    font-size: 25px;
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background: #f3f3f3;
  opacity: 0.9;
  animation: appear 1.5s;
  z-index: 1000;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #9356dc;
  /*can i use*/
  background: linear-gradient(171deg, #FF79DA 10%, #9356DC 90%);
  animation: spin 1s infinite linear;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  margin-left: -50px;
}

.spinner-bg {
  border: 10px solid TRANSPARENT;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
i.fa-arrow-left {
  position: absolute;
  left: 5px;
  padding: 20px;
  top: 10px;
  font-size: 22px;
  color: #000000;
  /* à eclaircir*/
}

.town-search i {
  margin-right: 10px;
}

.svg-logo {
  height: 45px;
  width: 100px;
  background: #fff;
  mask-image: url("../../../images/logo/ohmyfood@2x.svg");
  background-size: cover;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

span.circle {
  background: #9356DC;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  position: absolute;
  left: 0;
  margin-left: -10px;
}

.process .fas {
  display: inline-block;
  left: 30px;
  position: absolute;
  color: #a9a9a9;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.footer .fas {
  margin-right: 10px;
  width: 16px;
  font-size: small;
}

.restaurant-like {
  display: none;
}

.svg-heart {
  position: absolute;
  right: 0;
  transition: cubic-bezier(0.4, 0, 1, 1) opacity 0.6s;
  cursor: pointer;
}
.svg-heart__heading {
  top: 23px;
}
.svg-heart__cards {
  bottom: 23px;
  right: 15px;
}

.heart-empty {
  height: 24px;
  width: 24px;
  background: #000;
  mask-image: url("../../../images/svg/like-empty.svg");
  background-size: cover;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.heart-filled {
  opacity: 0;
}

input:checked ~ label .heart-empty {
  opacity: 0;
}

input:checked ~ label .heart-filled {
  opacity: 1;
  height: 24px;
  width: 24px;
  background: linear-gradient(171deg, #FF79DA 10%, #9356DC 90%);
  mask-image: url("../../../images/svg/like-filled.svg");
  background-size: cover;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.fa-check {
  color: #99E2D0;
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 30%;
  text-align: center;
  padding: 4px;
  font-size: 17px;
  margin-right: 5px;
  animation: groove 2s;
}

.cards {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  height: 270px;
  margin: 20px auto 20px auto;
  transform: scale(1);
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  background: #fff;
  max-width: 540px;
  width: 100%;
}
.cards:hover {
  transform: scale(1.04);
}
.cards .links {
  text-decoration: none;
  color: #020202;
}

.preview {
  border-radius: 25px 25px 0 0;
}

.preview-image {
  height: 210px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  background-position: center;
}

.btn {
  background: linear-gradient(171deg, #FF79DA 10%, #9356DC 90%);
  box-shadow: 0px 3px 6px 3px #d3d3d3;
  border-radius: 50px;
  border-style: none;
  padding: 4%;
  font-size: 1em;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  cursor: pointer;
  width: 40%;
  position: relative;
  z-index: 1;
}
.btn:hover {
  border-radius: 50px;
}
.btn:hover::after {
  border-radius: 50px;
  box-shadow: 0px 3px 5px 3px #d3d3d3;
  opacity: 1;
}
.btn::after {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(171deg, #ff93e1 0%, #ff46cc 100%);
  /*si linear ne fonctionne pas bien en alternative: radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-secondary, 10) 100%);*/
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}
.btn__explore {
  min-width: 240px;
}
.btn__order {
  min-width: 190px;
  margin-top: 46px;
  margin-bottom: 98px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.localisation {
  background-color: #e5e5e5;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #d9d9d9;
  box-shadow: inset 0 -4px 8px 8px #e5e5e5, inset 0 1px 2px 0px rgba(50, 50, 50, 0.75);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.heading-menu {
  flex-direction: row;
}

.banner {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: -44px;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.step-list {
  margin-left: 38px;
}

.step-list p {
  margin-left: 5px;
}

.search-restaurants,
.restaurants {
  background-color: #f2f2f2;
}

.operation {
  margin: 0px 20px 60px 20px;
}
.operation .operation {
  margin: 0px 20px 60px 20px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.menu__section {
  width: 100%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}
.restaurants__list {
  width: 100%;
}

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.wrapp-page {
  height: 100vh;
}

.wrapp__process {
  width: 100%;
}

.wrapp__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1280px;
}
.wrapp__footer__process {
  width: 100%;
}

.restaurant-name {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .grid {
    display: grid;
    height: auto;
    justify-items: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "operation operation search-restaurants search-restaurants" "restaurants restaurants restaurants restaurants";
  }

  .search-restaurants {
    margin: 30px;
    grid-area: search-restaurants;
    border-radius: 50px;
    grid-gap: 5px;
    padding: 10px;
  }

  .operation {
    grid-area: operation;
  }

  .restaurants {
    grid-area: restaurants;
    justify-content: space-around;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .restaurants__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width: 550px;*/
  }

  footer {
    grid-area: footer;
    height: 246px;
    margin-top: 69px;
  }

  .cards {
    min-width: 310px;
    width: 100%;
  }

  /* partie responsive carte de restaurants */
  .grid__card {
    display: grid;
    justify-content: space-evenly;
    align-items: stretch;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    grid-template-areas: "name name " "starters dishes" "desserts button";
  }

  .wrapp {
    align-items: center;
  }

  .restaurant-name {
    grid-area: name;
    text-align: center;
  }

  .starters {
    grid-area: starters;
  }

  .desserts {
    grid-area: desserts;
  }

  .btn__order {
    min-width: 190px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-area: button;
  }

  .menu__section {
    width: 340px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    height: 440px;
  }

  .search-restaurants {
    margin: 40px;
    padding-top: 25px;
  }

  .restaurants {
    border-radius: 50px;
  }

  .restaurants__list {
    width: 100%;
    max-width: 1280px;
  }

  .wrapp {
    max-width: 1280px;
  }

  .wrapp__footer {
    align-items: center;
  }

  .heading-sections {
    padding-top: 30px;
  }

  .cards {
    height: 425px;
    margin: 15px 15px 25px 15px;
  }

  .preview-image {
    height: 350px;
  }
}
.process {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 15px 0 15px 0px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: relative;
  min-width: 234px;
  line-height: 20px;
}
.process:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.process:hover .fas {
  color: #9356DC;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.town-search {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

#town {
  border: none;
  font-size: large;
  background: #e5e5e5;
  display: flex;
}

.check {
  background: #99E2D0;
  color: #fff;
  width: 70px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 2px 1px #d3d3d3;
  transition: 900ms;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -70px;
}

.menu-cards__price {
  font-weight: bold;
  width: 30px;
  padding-left: 20px;
  display: inline-block;
  transition: 900ms;
}

footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 100%;
}
footer ul {
  text-align: left;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer {
  line-height: 25px;
  padding-bottom: 30px;
  margin-top: 10px;
}

main.menu {
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

h2.heading-cards {
  margin-top: 35px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}

div.green-border {
  width: 11%;
  height: 4px;
  background: #99E2D0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.banner1 {
  background-image: url("./images/restaurants/note_enchantée.jpg");
}

.banner2 {
  background-image: url("images/restaurants/note_enchantée.jpg");
}

.banner3 {
  background-image: url("../images/restaurants/note_enchantée.jpg");
}

.banner4 {
  background-image: url("../../images/restaurants/note_enchantée.jpg");
}

/*# sourceMappingURL=styles.css.map */
