a.btn, .btn {
  background: linear-gradient(171deg, $colour-secondary 10%, $colour-primary 90%);
  box-shadow: 0px 3px 6px 3px #d3d3d3;
  border-radius: 50px;
  border-style: none;
  font-size: 17px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  margin: 20px auto 60px auto;
  color: #fff;
  cursor: pointer;
  width: 45%;
  position: relative;
  z-index: 1;

  &:hover {
    &::after {    
      opacity: 1;
    }
  }  

  &::after {
    border-radius: 50px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 3px 5px 3px #d3d3d3;
    background: linear-gradient((171deg, lighten($colour-secondary, 5)0%, darken($colour-secondary, 10) 100%));
    opacity: 0;
    z-index: -1;
    transition: opacity 0.7s;
  }

  &__explore {
    min-width: 240px;
  }

  &__order {
    min-width: 190px;
    max-height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
a {
  text-decoration: none;
}