.cards {
    border-radius: 20px;
    box-shadow: 2px 2px 7px 2px #d3d3d3;
    height: 270px;
    max-width: 540px;
    width: 100%;
    margin: 20px auto 20px auto;
    transform: scale(1);
    transition: all 300ms;
    transition-timing-function: ease-in-out;
    background: #fff;
    
    &:hover {
        transform: scale(1.04);
    }
    &__new {
        background: $colour-tertiary;
        padding: 0.5em;
        width: 4.5em;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 3px;
        color: darken($color: $colour-tertiary, $amount: 40%);
        font-weight: bold;
    }

    &__img {
        border-radius: 25px 25px 0 0;
        height: 210px;
        width: 100%;
        object-fit: cover;
        background-position: center;
    }

    .links {
        text-decoration: none;
        color: #020202;
    }
}