i.fa-arrow-left {
    position: absolute;
    left: 5px;
    padding: 20px;
    top: 10px;
    font-size: 22px;
    color: #000000;
    /* à eclaircir*/
}

.svg-logo {
    @include svg-icon ("../../../images/logo/ohmyfood@2x.svg", 45px, 100px, #fff);
}

span.circle {
    background: $colour-primary;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: small;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.process .fas {
    display: inline-block;
    left: 30px;
    position: absolute;
    color: #a9a9a9;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.footer .fas {
    margin-right: 10px;
    width: 16px;
    font-size: small;
}

.restaurant-like {
    display: none;
}

.svg-heart {
    position: absolute;
    right: 0;
    transition: cubic-bezier(0.4, 0, 1, 1) opacity 2s;
    cursor: pointer;

    &__heading {
        top: 23px;
    }

    &__cards {
        bottom: 23px;
    }
}

.heart-empty {

    @include svg-icon ("../../../images/svg/like-empty.svg", 30px, 60px, #000);
}

.heart-filled {
    opacity: 0;
}

input:checked~label .heart-empty {
    opacity: 0;
}

input:checked~label .heart-filled {
    opacity: 1;
    @include svg-icon ("../../../images/svg/like-filled.svg", 30px, 60px, linear-gradient(171deg, $colour-secondary 10%, $colour-primary 90%));

}

//MENU CHECK COMMANDE//

.fa-check {
    color: $colour-tertiary;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    padding: 4px;
    line-height: 1.5;
    font-size: 17px;
    margin-right: 5px;
}