i.fa-arrow-left {
    position: absolute;
    left: 5px;
    padding: 20px;
    top: 10px;
    font-size: 22px;
    color: #000000;
    /* à eclaircir*/
}

.svg-logo {
    @include svg-icon ("../../../images/logo/ohmyfood@2x.svg", 45px, 100px, #fff);
}



span.circle {
    background: $colour-primary;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: small;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.choice .fas {
    display: inline-block;
    left: 30px;
    position: absolute;
    color: #a9a9a9;
    width: 20px;
    height: 20px;
    line-height: 20px;
}



.footer .fas {
    margin-right: 10px;
    width: 16px;
    font-size: small;
}

//coeur checkbox//
.fa-heart {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: opacity 0.3s;
    cursor: pointer;

    &.fa-heart__cards {
        right: 0;
        bottom: -5px;
    }

    &.fa-heart__heading {
        right: 0;
        top: 20px;
        font-size: larger;
    }
}
   
.far.fa-heart {
    color: black;
}

.fas.fa-heart {

    opacity: 0;
}

#check-heart:checked~label .far {
    opacity: 0;
}

#check-heart:checked~label .fas {
    opacity: 1;
    color: rgb(255, 0, 106);
}

#check-heart {
    display: none;
}

//MENU CHECK COMMANDE//

.fa-check
{
    color:$colour-tertiary;
    background: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
  padding: 4px;
  line-height: 1.5;
  font-size: 12px;
  margin-right: 5px;
    
}

// voir mixins,//

