i.fa-arrow-left
{
    position: absolute;
    left: 5px;
    padding: 20px;
    top: 10px;
    font-size: 22px;
    color:#000000;
    /* à eclaircir*/
} 

.svg-logo {
    @include svg-icon ("../../../images/logo/ohmyfood@2x.svg", 45px, 100px, #fff);
}

.menu__heart
{
    position: absolute;
    right: 50px;
}

span.circle {
    background: $colour-primary;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: small;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.choice .fas {
    display: inline-block;
    left: 30px;
    position: absolute;
    color: #a9a9a9;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

span.heart {

    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
}

    .fas.fa-heart:hover {
        display: inline-block;
        color: $colour-secondary;
    }
    .fas.fa-heart {
    display: none;
    /*ne fonctionne pas comme ça revoir le cours fonctions*/
}

.far.fa-heart {
    display: inline-block;
    color: black;
}
    .far.fa-heart:hover {
        display: none;
    }

.footer {
    line-height: 22px;
    padding-bottom: 30px;
}

.footer .fas {
    margin-right: 10px;
    width: 16px;
    font-size: small;
}