@keyframes loading {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes flash {
  0% {
    color: $colour-tertiary;
    text-shadow: 0 0 8px $colour-primary;
  }

  90% {
    color: $colour-tertiary;
    text-shadow: none;
  }

  100% {
    color: $colour-tertiary;
    text-shadow: 0 0 8px $colour-primary;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  animation: loading 5s;
  top: 0;
  left: 0;
  margin: 0;

}

.loader--content {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 90%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1s linear infinite;
}

.letters {
  background: transparent;
  font-size: 60px;
  color: $colour-tertiary;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 2s linear infinite;
}

@for $i from 1 to 11 {
  .letters:nth-child(#{$i}) {
    animation-delay: 0ms+($i*100);
  }
}