
//loading-page


/* loader CHARGEMENT pb de z index */
@keyframes loading {
  0% {visibility: visible;}
  100% {visibility: hidden;}
}
@keyframes flash {
  0% {
    color:$colour-tertiary;
    text-shadow: 0 0 8px  $colour-primary;
  }
  90% {
    color:$colour-tertiary;
    text-shadow:none;
  }
  100%{
    color:$colour-tertiary;
    text-shadow: 0 0 8px  $colour-primary;
  }
}

.loader {
  
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  visibility:hidden;
  animation:loading 4s;
  top: 0;
  left: 0;
  margin: 0;  
 
}
.loader--content
{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background:hsla(0, 0%, 90%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons
{
 
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1s linear infinite;
}

.letters{
  background:transparent;
  font-size: 60px;
  color:$colour-tertiary;
  letter-spacing: 15px;  
  margin-bottom: 150px;
  animation: flash 2s linear infinite;
}  
.letters:nth-child(1){
  animation-delay: 0.1s;
}
.letters:nth-child(2){
  animation-delay: 0.2s;
}
.letters:nth-child(3){
  animation-delay: 0.3s;
}
.letters:nth-child(4){
  animation-delay: 0.4s;
}
.letters:nth-child(5){
  animation-delay: 0.5s;
}
.letters:nth-child(6){
  animation-delay: 0.6s;
}
.letters:nth-child(7){
  animation-delay: 0.7s;
}
.letters:nth-child(8){
  animation-delay: 0.8s;
}
.letters:nth-child(9){
  animation-delay: 0.9s;
}
.letters:nth-child(10){
  animation-delay: 1s;
} 





