
//loading-page
*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.loader-content
{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  max-width: 1600px;
}
.accueil
{
  height: 100%;
  width: 100%;
  background:$colour-bg_footer;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accueil h1
{
  font-size: 140px;
  margin-bottom: 450px;
}

.loader-content
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: $colour-bg_footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letters
{
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.5s linear infinite;

}
@keyframes flash  {
  0%{
    color:$colour-tertiary;
    text-shadow: 0 0 7px $colour-tertiary;
  }
  90%{
    color: #484848;
    text-shadow:none;
  }
  100%{
    color:$colour-tertiary;
    text-shadow: 0 0 7px $colour-tertiary;
  }
}
.letters:nth-child(1){
  animation-delay: 0.1s;
}
.letters:nth-child(2){
  animation-delay: 0.2s;
}
.letters:nth-child(3){
  animation-delay: 0.3s;
}
.letters:nth-child(4){
  animation-delay: 0.4s;
}
.letters:nth-child(5){
  animation-delay: 0.5s;
}
.letters:nth-child(6){
  animation-delay: 0.6s;
}
.letters:nth-child(7){
  animation-delay: 0.7s;
}
.letters:nth-child(8){
  animation-delay: 0.8s;
}
.letters:nth-child(9){
  animation-delay: 0.9s;
}
.letters:nth-child(10){
  animation-delay: 1s;
} 



