//Polices
body {
    font-family: 'Roboto', sans-serif;
}
//Heading

.header__logo {
    margin-top: 25px;
    margin-bottom: 10px;
}

h1,
h2{
    font-weight: bold;
    font-size: 1.4rem;
}

.heading-sections {
    padding-top: 60px;
    padding-bottom: 14px;
}
h1.heading-sections{
    
    margin-left: 20px;
    margin-right: 20px;
}

.search-restaurants P{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 15px;
}

.cards h3,
.cards p {
    
    text-align: left;
    margin: 5px 5px 5px 20px;
}
.cards h3{
    font-weight: bold;
}

//Pages menus restaurants
.menu h1  {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    .header__logo img {
        height: 60px;
    }
    h1, h2 {
        font-size: 25px;
    }
}

