.menu-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
    height: 30px;
    width: 96%;
    min-width: 255px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
    font-size: small;
    cursor: pointer;
    animation: step 0.09s ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &__price {
        font-weight: bold;
        width: 30px;
        padding-left: 20px;
        display: inline-block;
        transition: 900ms;
    }
    
    &__description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__description--h3 {
        font-weight: bold;
        transition: 0.9s;
        position: absolute;
        top: 10px;
        margin-top: 5px;
    }

    &__description--p {
        position: relative;
    }
}

@keyframes step {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
    }

    80% {
        visibility: visible;
        
        opacity: 1;
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}

@for $i from 1 to 11 {
    #choice#{$i}+label {
        animation-delay: 0.3s*$i;
    }
}

// basket-checked

@keyframes groove {
    0% {
        transform: scale(0.95);
    }
   
    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

input:checked+label .check {
    margin-right: 70px;
}

label.menu-cards:hover .check {
    margin-right: 70px;
}

input.command {
    display: none;
}

input:checked+label .menu-cards__price {
    margin-right: 70px;
}

label.menu-cards:hover .menu-cards__price {
    margin-right: 70px;
}

input:hover+label .fa-check , input:checked+label .fa-check{
    transform: rotate(-1turn);
    transition: transform 0.7s ease-in-out;
}
/*
input:checked+label .fa-check {
    transform: scale(0.5) translate(-100%, -100%);
    transition: transform 0.4s ease-in-out;
}*/