body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}


.step-list {
  margin-left: 38px;
}

.step-list p {
  margin-left: 5px;
}

.search-restaurants,
.restaurants {
  background-color: $colour-background;
}
.operation
{
  margin: 20px;
}
.menu__section {
  width: 100%;
}
.restaurants {

  display: flex;
  flex-direction: column;

  &__list {
    width: 100%;
  }
}

.wrapp__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1599px;

  &__process {
    width: 100%;
  }
}

.restaurant-name {
  position: relative;
  white-space: nowrap;
  width: 100%;
}

@media screen and (min-width: 769px) {

  .grid {
    display: grid;
    height: auto;
    justify-items: center;
    max-width: 1599px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "operation operation search-restaurants search-restaurants"
      "restaurants restaurants restaurants restaurants";
  }

  .search-restaurants {
    margin: 30px;
    grid-area: search-restaurants;
    border-radius: 50px;
    grid-gap: 5px;
    padding: 10px;
  }


  .operation {
    grid-area: operation;
  }

  .restaurants {
    height: 795px;
    grid-area: restaurants;
    justify-content: space-around;

    &__list {

      display: flex;
      flex-wrap: wrap;

    }
  }

  footer {
    grid-area: footer;
    height: 246px;
  }

  .cards {
    min-width: 310px;
    width: 45%;
  }

  /* partie responsive carte de restaurants */
  .grid__card {
    display: grid;
    justify-content: space-evenly;
    align-items: stretch;
    max-width: 1599px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    grid-template-areas:
      "name name "
      "starters dishes"
      "desserts button";
  }

  .restaurant-name {
    grid-area: name;
  }

  .starters {
    grid-area: starters;
  }

  .desserts {
    grid-area: desserts;
  }

  .btn__order {
    min-width: 190px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-area: button;
  }

  .menu__section {
    width: 450px;
    height: 311px;
  }
}

@media screen and (min-width: 1025px) {

  .banner {
    height: 440px;
  }

  .search-restaurants {
    margin: 40px;
    padding: 0;
  }

  .restaurants {
    border-radius: 50px;
    margin: 40px;
  }
  .wrapp__footer {
   
    align-items: center;
  }

}