body {
   margin: 0 auto;
   text-align: center;
   max-width: 768px;
   height: 100vh;
   position: relative;
}

.step-list
{
   margin-left: 38px;
}
.step-list p
{
   margin-left: 5px;
}

.search-restaurants,
.restaurants {
   background-color: $colour-background;
}

.restaurants {
   padding-bottom: 60px;
   margin-top: 60px;
   display: flex;
   flex-direction: column;
}

.wrapp {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: auto;
   margin-right: auto;
   width: 80%;

   &__process {
      width: 100%;
      
   }

}


.restaurant-name {
   position: relative;
}