body {
  margin: 0 auto;
  text-align: center;
  position: relative;
  
}
.wrapp-page
{
   height: 100vh;
}
.step-list {
   margin-left: 38px;
 }
 
 .step-list p {
   margin-left: 5px;
 }
 
 .search-restaurants,
 .restaurants {
   background-color: $colour-background;
 }
 
 .restaurants {
   padding-bottom: 60px;
   margin-top: 60px;
   display: flex;
   flex-direction: column;
 
   &__list {
     width: 100%;
   }
 }
 
 .wrapp {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   max-width: 1599px;
 
   &__process {
     width: 100%;
   }
 }
 
 .restaurant-name {
   position: relative;
   white-space: nowrap;
   width: 100%;
 }
 

@media screen and (min-width: 769px) {
  header {
    height: 130px;
  }

  .grid {
    display: grid;
    height: auto;
    max-width: 1599px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "o o s s"
      "r r r r";
  }
  .search-restaurants {
   margin: 30px;
   grid-area: s;
   border-radius: 50px;
   grid-gap: 5px;
   padding: 10px;
}
  

  .operation {
    grid-area: o;
  }

  .restaurants {
    grid-area: r;
    &__list {
       
   display: flex;
    flex-wrap: wrap;

    }
  }

  footer {
    grid-area: footer;
    height: 200px;
  }
  .cards {
   min-width: 310px;
   width: 45%;
  }
  
}

@media screen and (min-width: 1025px) {
  
.search-restaurants {
   margin: 40px;
   padding: 0;
}
.restaurants {
   border-radius: 50px;
   margin: 40px;
}


   }

