footer
{
    background:$colour-bg_footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
     ul{ 
        text-align: left;
     }
}

h4 
{
    margin-left: auto;
    margin-right: auto;
    
    img 
    /* comment vchanger couleur du svg?*/
    {width: 81px;
    height: 44px; 
}
}

footer a{
    color: #fff;
    text-decoration: none;
}

.footer {
    line-height: 25px;
    padding-bottom: 30px;
    margin-top: 10px;
}
