.choice {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    background-color: $colour-background;
    padding: 20px;
    margin: 15px 0 15px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;




    &:hover {
        background-color: lighten($color: $colour-primary, $amount: 35%);
        cursor: pointer;

        .fas {
            color: $colour-primary;

        }
    }

}

/*redondant avec .links .cards*/
.form {
    text-decoration: none;
    color: #020202;
}