.process {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    background-color: $colour-background;
    padding: 20px;
    margin: 15px 0 15px 0px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    position: relative;
    min-width: 234px;
    line-height: 20px;

    &:hover {
        background-color: lighten($color: $colour-primary, $amount: 35%);
        cursor: pointer;

        .fas {
            color: $colour-primary;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*
          __  _                         _   _               _               _   _              _       __
         / /\| |/\                     | | (_)             | |             | | (_)          /\| |/\   / /
        / /\ ` ' / __ _ _   _  ___  ___| |_ _  ___  _ __   | |__   __ _ ___| |_ _  ___ _ __ \ ` ' /  / /
       / /|_     _/ _` | | | |/ _ \/ __| __| |/ _ \| '_ \  | '_ \ / _` / __| __| |/ _ \ '_ \_     _|/ /
      / /  / , . \ (_| | |_| |  __/\__ \ |_| | (_) | | | | | |_) | (_| \__ \ |_| |  __/ | | / , . \/ /
     /_/   \/|_|\/\__, |\__,_|\___||___/\__|_|\___/|_| |_| |_.__/ \__,_|___/\__|_|\___|_| |_\/|_|\/_/
                     | |
                     |_|
    */
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.town-search {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

#town {
    border: none;
    font-size: large;
    background: #e5e5e5;
    display: flex;
}

.check {
    background: $colour-tertiary;
    color: #fff;
    width: 70px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    transition: 900ms;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -70px;
}

.menu-cards__price {
    font-weight: bold;
    width: 30px;
    padding-left: 20px;
    display: inline-block;
    transition: 900ms;
}