header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

     .localisation
{
    background-color: darken($color: $colour-background, $amount: 10%);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading-menu
{
    flex-direction: row;
}

