header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.localisation {
    background-color: darken($color: $colour-background, $amount: 5%);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid darken($color: $colour-background, $amount: 10%);
    box-shadow:
        inset 0 -4px 8px 8px darken($color: $colour-background, $amount: 5%),
        inset 0 1px 2px 0px rgba(50, 50, 50, 0.75);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.heading-menu {
    flex-direction: row;
}

.banner {
    width: 100%;
    height: 270px;
    object-fit: cover;
    margin-bottom: -44px;
    background-size: cover;
    background-position: center;
}